.keyword {
    color: brown;
}

.comment {
    color: darkgreen;
}

.identifier {
    color: darkslategrey;
}

.numeric {
    color: darkblue;
}

.string {
    color: orange;
}

.template {
    color: darkred;
}

.regex {
    color: orangered;
}

.global {
    color: blueviolet;
}